.page404 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 100px auto;
}

.page404-title {
  font-size: 10em;
  margin-right: 2%;
}

.page404-content {
  font-weight: bold;
  font-size: 2em;
}